<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <h1>Corgi Harmony</h1>
  </nav>
  <div class="container">
​
​
    <div class="row" >
      <div class="col-lg-3 col-lg-offset-3 text-right">
        <span id="dogName">Dog Name</span>
      </div>
      <div class="col-lg-3 text-left">
        <span id="dogName">Dog age</span>
      </div>
​
    </div>
    <div class="row" id="dogImage">
      <div id="dogImageContainer" class="row text-center">
        <img src="http://lorempixel.com/200/400" />
      </div>
    </div>
    <div class="row" id="buttons">
      <div class="text-center">
        <a href="#" class="btn btn-lg">Like</a>
        <a href="#" class="btn btn-lg">Dislike</a>
      </div>
    </div>
​
  <div class="container">
​
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>
