body{
  background-image:url(http://thumbs.dreamstime.com/z/traces-dog-bones-black-white-vector-pattern-32567160.jpg);
}

nav{
  text-align: center;
  background-color: black;
  opacity: .80;
  margin-top:0px;
  padding: 5px;
  color:bold steelblue;
}

.container{
  padding-top: 30px;
}
#dogName{
  color:red;
  font-size: 30px;
}
#dogImageContainer img{
  margin-top: 50px;
  height: 400px;
  width: 400px;

}
#buttons{
  margin-top: 50px;
  background-color: black;
  opacity: .80;
}
